@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Pixelify+Sans:wght@400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  padding: 2rem;
}
.gameboard {
  border: 1px solid black;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.row {
  display: flex;
}

.cell {
  display: flex;
  border: 1px solid black;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1.5rem;
  font-weight: 900;
  align-items: center;
  justify-content: center;
}
.disabled {
  pointer-events: none;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.scoreCard {
  display: flex;
  justify-content: center;
  gap: 20rem;
  padding: 2rem;
  font-size: large;
  font-weight: 600;
}

.btn {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.tip {
  text-align: center;
  font-style: italic;
}

.instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

button {
  padding: 1rem;
  border-radius: 18px;
  font-size: 1rem;
  background: white;
  color: black;
}

.darkmode {
  position: sticky;
  left: 100%;
}
